header,
main {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
header img {
    width: 250px;
    margin: 0 auto;
}
form {
    width: 100%;
    max-width: 400px;
}
fieldset {
    margin: 1rem 0;
}
.match {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin: 2rem 0;
    align-items: center;
    justify-items: center;
}
h2 {
    text-align: center;
}
.match img {
    margin: .2rem 0;
    max-width: 270px;
}

.submit {
    display: flex;
    justify-content: flex-end;
}
.text {
    flex-grow: 1;
    margin: 0 .5rem 0 .2rem;
}
.button {
    padding: 0 1rem;
}
legend {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    form {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        max-width: 1450px;
    }
    fieldset {
        display: flex;
    }
    hr {
        display: none;
    }
    img[alt=""] {
        max-width: 150px;
    }
    .nfc {
        order: 2;
    }
    .wildcards {
        order: 2;
    }
    .divisionals {
        order: 1;
    }
}